body{
    width: 100%;
    overflow-x:hidden;
}

#cover{
    font-family: monospace;
    background-color: #3892E0;
  }
  
  #coverContainer{
    text-align: center;
    padding-left: 2vw;
  }
  
  .coverLinks {
    position: relative;
    text-decoration: none;
    text-align: left;
    color: white;
  }
  
  .coverLinks a{
    display: block;
    font-size: 2.7vh;
    padding-left: 4vw;
    padding-bottom: 0;
  }
  
  #cover img{
    position:relative;
    height: 30%;
    width: auto;
  }
  
  .leftLink{
    text-align: left;
    float: left;
  }
  
  .rightLink{
    text-align: right;
    float: right;
  }

@media screen and(orientation: portrait){

  #cover{
    font-size: 3vh;
  }
  
  .coverLinks {
    left: 12vw;
  }
  
  .coverLinks a{
    padding: .1vh 0 .1vh;
    padding-bottom: 0;
  }
  
  #cover img{
    width: auto;
    height: 30%;
  }
}

@media screen and (orientation: landscape){

  .topHeader{
    padding-top: 2vh;
  }

  #cover img{
    right: 10vw;
    width: 30%;
    
    float: right;
    height: auto;
  }
  
  .coverLinks {
    left: 6vw;
    font-size: 3vh;
  }

  .coverLinks {
    left: 6vw;
    font-size: 3vh;
    padding-bottom: 0;
  }
  

}